.mui-watermark > [data-watermark-overlay] {
  position: absolute;
  inset: 0;
  z-index: var(--mui-watermark-z-index, 10);
  pointer-events: none !important;
  background-image: var(--mui-watermark-image, none);
  background-repeat: repeat;
  background-size: var(--mui-watermark-width, 200px) var(--mui-watermark-height, 120px);
  background-position: var(--mui-watermark-x, 0px) var(--mui-watermark-y, 0px);
  opacity: var(--mui-watermark-opacity, 1);
  border-radius: inherit;
}
.mui-watermark > [data-watermark-overlay][hidden] { display: none !important; }
.mui-watermark > [data-watermark-overlay][data-watermark-fullscreen] { position: fixed; }
@media (forced-colors: active) {
  .mui-watermark > [data-watermark-overlay] { display: none; }
}
@media print {
  .mui-watermark > [data-watermark-overlay] { display: none; }
}
