.m-flex {
  --_m-flex-row-gap: 8px;
  --_m-flex-column-gap: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: var(--m-flex-align, normal);
  justify-content: var(--m-flex-justify, start);
  row-gap: var(--m-flex-row-gap, var(--_m-flex-row-gap));
  column-gap: var(--m-flex-column-gap, var(--_m-flex-column-gap));
  min-inline-size: 0;
  max-inline-size: 100%;
  overflow-wrap: anywhere;
}
.m-flex > * { min-inline-size: 0; }
.m-flex[data-size="small"] {
  --_m-flex-row-gap: 4px;
  --_m-flex-column-gap: 8px;
}
.m-flex[data-size="large"] {
  --_m-flex-row-gap: 12px;
  --_m-flex-column-gap: 16px;
}
.m-flex[data-inline] { display: inline-flex; }
.m-flex[data-vertical] { flex-direction: column; }
.m-flex:is([data-vertical], [data-wrap="false"]) { flex-wrap: nowrap; }
:where(.m-flex, .m-flex > *)[hidden]:not([hidden="until-found"]),
template.m-flex,
.m-flex > template { display: none !important; }
